<div class="row">
	<div class="col-md-12">
		<ul type="none" class="list">
			<li>
				<a routerLink="fromEvent"><span>fromEvent</span></a>
			</li>
			<li>
				<a routerLink="interval"><span>Interval</span></a>
      </li>
			<li>
				<a routerLink="of-from"><span>of-from</span></a>
			</li>
      <li>
				<a routerLink="toArray"><span>toArray</span></a>
			</li>
      <li>
				<a routerLink="custom"><span>Custom</span></a>
			</li>
      <li>
				<a routerLink="map"><span>Map</span></a>
			</li>
      <li>
        <a routerLink="pluck"><span>Pluck</span></a>
      </li>
		</ul>
	</div>
</div>