ul.list {
  margin: 40px 0 0;
  transition: .3s ease all;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

ul.list li {
  border: 1px solid #477698;
  border-radius: 10px;
  min-height: 90px;
  width: calc(25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

ul.list li:hover {
  background: #e3f2fd;
  color: #477698;
  box-shadow: 0 0 60px #b3cada inset;
}

ul.list li a:hover {
  text-decoration: none;
}