<div class="my-3">
	<h2>Of and From</h2>
	<br>
	<strong>Ex - 01 (Of)</strong>
	<hr>

	<div class="row">
		<div class="col-md-6">
			<p class="bg-light py-2 px-3 border rounded">
				<strong>Data: </strong>of('Ritesh', 'Kumar', 'Sharma')
			</p>
			<hr>
			<ul id="elContainer">

			</ul>
		</div>
		<div class="col-md-6">
			<p class="bg-light py-2 px-3 border rounded">
				<strong>Data: </strong>of(&#123;'Ritesh', 'Kumar', 'Sharma'&#125;)
			</p>
			<hr>
			<ul>
				<li><strong>a : </strong>{{obsMessage.a}}</li>
				<li><strong>b : </strong>{{obsMessage.b}}</li>
				<li><strong>c : </strong>{{obsMessage.c}}</li>
			</ul>
		</div>
	</div>
	<br><br>
	<strong>Ex - 01 (From)</strong>
	<hr>

	<div class="row">
		<div class="col-md-4">
      <strong>Array</strong>
      <hr>
			<p class="bg-light py-2 px-3 border rounded">
				<strong>Data: </strong>from(['Ritesh', 'Kumar', 'Sharma'])
			</p>
			<hr>
			<ul id="elContainer3">

			</ul>
		</div>

    <div class="col-md-4">
      <strong>Promise</strong>
      <hr>
			<p class="bg-light py-2 px-3 border rounded">
				<strong>Data: </strong>Promise to Observable
			</p>
			<hr>
			<ul id="elContainer4">

			</ul>
		</div>

    <div class="col-md-4">
      <strong>String</strong>
      <hr>
			<p class="bg-light py-2 px-3 border rounded">
				<strong>Data: </strong>String to Observable
			</p>
			<hr>
			<ul id="elContainer5">

			</ul>
		</div>
	</div>


</div>